
:root {
  --bg-color: #0a192f;
  --text-color: #ccd6f6;
  --accent-color: rgba(100, 255, 219, 0.80);
  --secondary-color: #8892b0;
}

body.light-mode {
  --bg-color: #f4f4f4;
  --text-color: #0a192f;
  --accent-color: #0a192f;
  --secondary-color: #444;
}

html {
  scroll-padding-top: 80px; /* Adjust this value to match your navbar height */
  scroll-behavior: smooth;
}

#landing {
    position: fixed;
    inset: 5px;
    background: lightgray;
    z-index: 100;
    overflow: hidden;
    transition: transform 1.5s ease, opacity 0.7s ease;
  }

  #FrontPage {
    max-width: 80vh;
    max-height: 80vh;
    cursor: pointer;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    touch-action: none !important;
    transition: transform 0.3s ease-out;
    position: relative;
}
  
  #mainContent {
    opacity: 0;
    transition: opacity 2s ease, transform 2s ease;
  }

  .sticky-menuLinks {
    display: none;
  }

  .sticky-menuIcon {
    display: none;
  }

  body.revealed #landing {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
  }
  
  body.revealed #mainContent {
    opacity: 1;
  }
  
  body:not(.revealed) {
    overflow: hidden;
  }

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    overflow-x: hidden;
  }
  
  header, footer {
    text-align: center;
    padding: 2rem 1rem;
  }
  
  header h1 {
    font-size: 2.5rem;
    color: var(--accent-color);
    margin: 0;
  }
  
  header p {
    font-size: 1.2rem;
    color: var(--secondary-color);
    margin-top: 0.5rem;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    padding-top: 0;
  }
  
  .sidebar {
    flex: 1;
    position: sticky;
    top: 5rem;
    left: 5rem;
    height: fit-content;
    margin-top: -10px;
  }
  
  .sidebar ul, li {
    list-style: none;
    padding: 0;
    /* margin-bottom: 10px; */
  }
  
  .sidebar a {
    text-decoration: none;
    color: var(--accent-color);
    font-size: 1.2rem;
    line-height: 2;
  }
  
  .content {
    flex: 3;
    padding-left: 2rem;
    margin-top: -30px;
  }

  .content section {
    margin-bottom: 140px;
  }

  h2 {
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 0.5rem;
  }
  
  a {
    color: var(--accent-color);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .accordion {
    margin-bottom: 1rem;
    border: 1px solid var(--accent-color);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .accordion-header {
    width: 100%;
    text-align: left;
    padding: 1rem;
    font-weight: bold;
    background: var(--accent-color);
    color: var(--bg-color);
    border: none;
    cursor: pointer;
  }

  .accordion-header[aria-expanded="true"]::after {
    content: "▲";
    float: right;
  }
  
  .accordion-header[aria-expanded="false"]::after {
    content: "▼";
    float: right;
  }

  .accordion-header:hover {
    background-color: rgb(100, 255, 218);
  }

  body.light-mode .accordion-header:hover {
    background-color: rgb(100, 255, 218, 0.8);
    color: var(--text-color);
  }
  
  .accordion-body {
    padding: 1rem;
    display: none;
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  .accordion.open .accordion-body {
    display: block;
  }

  .social-icons {
    margin-top: 40px;
    display: flex;
    gap: 20px;
  }
  
  .social-icons img {
    width: 52px;
    height: 52px;
    opacity: 0.7;
    transition: transform 0.2s ease, opacity 0.2s ease;
  }
  
  .social-icons img:hover {
    transform: scale(1.3);
    opacity: 1;
  }

  .cv-button {
    margin-top: 40px;
  }
  
  .cv-button a {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    color: #0a192f;
    padding: 0.7rem 1.5rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-block;
  }
  
  .cv-button a:hover {
    background-color: rgb(100, 255, 218);
    transform: scale(1.03);
  }

  body.light-mode .cv-button a {
    color: var(--bg-color);
  }

  body.light-mode .cv-button a:hover {
    background-color: rgb(100, 255, 218, 0.80);
    color: var(--text-color);
  }
  
  footer {
    text-align: center;
    font-size: 0.9rem;
    padding: 2rem 1rem;
    color: var(--secondary-color);
  }
    
  body.light-mode footer {
    color: var(--secondary-color);
  }

.theme-toggle {
  position: absolute;
  right: 10rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--accent-color);
  transition: transform 0.2s ease;
}

.theme-toggle:hover {
  transform: scale(1.2);
}

body.light-mode .theme-toggle {
  color: #0a192f;
}

.sticky-header {
  top: 0;
  width: 100%;
  color: var(--text-color);
  padding: 2rem 2rem;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-bottom: 1px solid var(--accent-color);
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 1s ease, transform 1s ease;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: hsl(216deg 65% 11% / 75%);
}

.sticky-header .portfolio-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: semi-bold;
  font-size: 2rem;
  margin-top: 10px;
}

.sticky-header.visible {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
  position: sticky;
}

body.light-mode .sticky-header.visible {
  color: var(--bg-color);
}

.tech-stack {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.tech-card {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 40px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 0.8rem;
  box-shadow: inset 0px 0px 5px 1px rgba(100, 255, 218, 0.4);
  min-width: 75px;
}

.tech-card:hover {
  transition: transform 0.3s ease;
  box-shadow: 0px 0px 10px 2px rgba(100, 255, 218, 0.4);
  background-color: var(--text-color);
  color: var(--bg-color);
}

#backToTopBtn {
  position: fixed;
  bottom: 10px;
  right: 5px;
  z-index: 999;
  display: none;
  opacity: 0;
  background-color: rgb(100 255 219 / 60%);
  color: var(--bg-color);
  border: none;
  border-radius: 50%;
  padding: 0.1rem 0.2rem;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

body.revealed #backToTopBtn {
  display: block;
}

#backToTopBtn:hover {
  transform: scale(1.1);
  background-color: #52e0c4;
}

  
@media (max-width: 620px) {

  #backToTopBtn.visible {
    bottom: 10px;
    right: 35px;
    font-size: 1.3rem;
    padding: 0.1rem 0.1rem;
  }

  .sticky-menuIcon.visible {
    position: sticky !important;
    top: 55px;
    width: 100%;
    z-index: 999;
    transform: translateY(0) !important;
    opacity: 1 !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
  }

  .tome_portal {
    border-radius: 30%;
    box-shadow: inset 0px 0px 15px 2px rgba(100, 255, 218, 0.6);
    cursor: pointer;
  }
  

  /* // verificar // */
  .tome_portal:active {
    box-shadow: 0 0 16px 3px rgba(255, 215, 0, 0.7);
  }

  header h1 {
    font-size: 2rem;
  }

  .container {
    flex-direction: column;
  }

  .content {
    padding-left: 0;
  }

  .sidebar {
    position: relative;
    display: flex;
    align-items: center;
    gap: 50%;
    margin-left: 8%;
    top: 0;
    left: 0;
    flex-wrap: wrap ;
  }

  .social-icons {
    margin-top: 0;
  }

  #FrontPage {
    max-width: -webkit-fill-available;
    cursor: tap;
    left: 50%;
    top: 50%;
    touch-action: none !important;
    transition: transform 0.3s ease-out;
    position: relative;
}

.theme-toggle {
  max-width: -webkit-fill-available;
  right: 2%;
  top: 1%;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--accent-color);
  transition: transform 0.2s ease;
}

#toggleThemeSticky {
  right: 16%;
  top: 20%;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--accent-color);
  transition: transform 0.2s ease;
}

.sticky-header.visible {
  opacity: 1;
  top: 0;
  pointer-events: auto;
  transform: translateY(0);
  position: sticky;
}

.sticky-header .portfolio-title {
  position: absolute;
  left: 45%;
  font-weight:500;
  font-size: 1.5rem;
  margin-top: 10px;
}

.sticky-menuLinks {
  display: none;
}

.sticky-menuLinksShow {
  display: flex;
  position: fixed;
  top: 190%;
  right: 13%;
  cursor: progress;
  backdrop-filter: blur(16px);
  background-color: #000000ab;
  flex-wrap: wrap;
  padding: 10px;
  flex-direction: column;
  align-items: flex-end;
}

body.light-mode .sticky-menuLinksShow a {
  color: #fafbf4;
}

img[src="images/town-portal.png"] {
  position: fixed;
  display: block;
  width: 6%;
  right: 13%;
  opacity: 1;
  transition: 1s ease-out;
}

img[src="images/open_book_portal.png"] {
  position: fixed;
  display: block;
  width: 8%;
  right: 13%;
  opacity: 1;
  transition: 1s ease-out;
}

}


